<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="icon" href="{{url}}/image/icon/app-icon.svg"/>
        <link rel="stylesheet" type="text/css" href="{{url}}/css/index.css">
        <link rel="stylesheet" type="text/css" href="{{url}}/css/{{css}}">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    </head>
    <body>
        {{#if header}}
            {{> navbar}}
        {{/if}}
        <div class="content">
            {{{body}}}
        </div>
        {{> footer}}
    </body>
</html>
